*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    min-height: 100vh;
}
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #000054;
    transition: 0.4s;
}
.nav-link{
    font-size: 1.2em;
}
.nav-link:active
.nav-link:focus
.nav-link:hover{
    background-color: #00005426;
}
